<h1>Hello, Rails!</h1>


<%= link_to 'Blog', controller: 'articles' %>
<% if user_signed_in? %>
<div><%= link_to current_user.email, edit_user_registration_path %></div>
<br><%= link_to 'My Articles', welcome_myarticles_url %></br>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
<div><%= link_to 'Sign up', new_user_registration_path %></div>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>


